* {
    margin:0;
}

body {
    max-width: 1200px;
    margin: o auto;
    font-family: sans-serif;
    font-size: 0.875em;
    line-height:1.6em;
    }
    
   header { 
background-image: url("../html76/25.jpeg");
}

  
    
    
